<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IMapDataDAO">
	<select id="get" resultType="vo.MapData">
		select * from MapData
	</select>

	<select id="getNameAndValue" resultType="vo.MapData1">
		select Name,VALUE FROM
		mapdata
	</select>
</mapper>